* {
  padding: 0;
  margin: 0;
  color: #e94822;
}

.p {
  padding: 5px;
  font-size: larger;
  justify-self: center;
  align-self: center;
}

main {
  display: flex;
  align-items: start;
  display: inline-block;
}

.container {
  width: 50%;
  height: 50%;
}

.item {
  background-color: #e94822;
  border: 1px solid #efd510;
}

.insidecontainer {
  color: #efd510;
  padding: 5px;
}
